* {
  font-family: arial;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid blue;
  border-bottom: 0.5px solid grey;
}

.header-button {
  flex: 1;
  text-align: left;
  margin: 10px;
}

.header-title-1 {
  flex: 1;
  text-align: center;
  margin: 10px;
}

#title {
  font-size: 240%;
}

#title-role {
  font-size: 200%;
}

#title-select-level {
  font-size: 200%;
}

#title-desc {
  color: grey;
  font-size: 100%;
}

.flex-end {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid grey;
}


#error {
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#login-cont {
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#login-button-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login-button {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid blue;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  height: 100px;
  width: 500px;
  font-size: 30px;
}

#login-button:hover {
  background-color: lightgrey;
}

.header-title-2 {
  flex: 1;
  text-align: center;
  margin: 10px;
}

#log-out-button {
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  font-size: medium;
}

#log-out-button:hover {
  background-color: lightgrey;
}

#copyright {
  text-align: center;
  margin-right: 50px;
}

.user-select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.employee-select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.admin-select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

#select-user {
  border-radius: 10px;
  border: 3px solid blue;
  font-size: 300%;
  width: 25%;
  height: 50%;
  cursor: pointer;
}

#select-user:hover {
  background-color: lightgrey;
}

#select-employee {
  border-radius: 10px;
  border: 3px solid blue;
  font-size: 300%;
  width: 25%;
  height: 50%;
  cursor: pointer;
}

#select-employee:hover {
  background-color: lightgrey;
}

#select-admin {
  border-radius: 10px;
  border: 3px solid blue;
  font-size: 300%;
  width: 25%;
  height: 50%;
  cursor: pointer;
}

#select-admin:hover {
  background-color: lightgrey;
}

#employee-desc {
  font-size: 100%;
  color: blue;
}

.employee-flight-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  overflow: auto;
  height: 700px;
}

.flight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid aqua;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 40%;
}

.flight:hover {
  cursor: pointer;
  border: 3px solid black;
  background-color: lightblue;
}

.return-button-cont {
  flex: 1;
  text-align: right;
  margin: 10px;
}

#return-button {
  margin-right: 100px;
  width: 50%;
  height: 100%;
  font-size: 250%;
  cursor: pointer;
  border: 3px solid blue;
  appearance: none;
  color: black;
  text-align: center;
  border-radius: 10px;
}

#return-button:hover {
  background-color: lightgrey;
}

.flight-info-cont {
  border-bottom: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passenger-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.passenger {
  border-top: 3px solid lightblue;
}

.user-flights-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-flight {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  background-color: aqua;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.list-header {
  font-size: 150%;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font: bold;
}

.delete-user-flight {
  width: 25%;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: 3px solid red;
  background-color: lightgrey;
  font-size: medium;
}

.delete-user-flight:hover {
  border: 3px solid black;
  background-color: red;
}

.register-cont {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#registered-status {
  font-size: 200%;
  color: blue;
  font: bold;
  font-style: italic;
}

#register-button {
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid blue;
  background-color: white;
  width: 25%;
  font-size: larger;
}

#register-button:hover {
  background-color: lightgrey;
}

.benefits-header {
  text-align: center;
}

input {
  border-radius: 5px;
  height: 5%;
  width: 10%;
  font-size: large;
  border: 5px solid aqua;
}

input:focus {
  outline: none;
}

select {
  border-radius: 5px;
  height: 5%;
  width: 10%;
  font-size: large;
  border: 5px solid aqua;
}

select:focus {
  outline: none;
}

#submit-membership {
  margin: 40px;
  cursor: pointer;
  font-size: 30px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
}

#submit-membership:hover {
  background-color: green;
}

.body-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  overflow: auto;
}

.user-info {
  width: 100%;
  margin-top: 450px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid blue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
}

.user-form-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.status-update-title {
  text-decoration: underline;
}

#cancel-membership-button {
  width: 10%;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: 3px solid red;
  background-color: lightgrey;
  font-size: medium;
}

#cancel-membership-button:hover {
  border: 3px solid black;
  background-color: red;
}

#view-available-flights {
  margin-left: 60px;
  cursor: pointer;
  font-size: 20px;
  border: 5px solid green;
  border-radius: 5px;
  background-color: white;
}

#view-available-flights:hover {
  background-color: green;
  border: 5px solid black;
}

.user-seats-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flight-seat-empty {
  flex-wrap: wrap;
  display: flex;
  width: 40%;
  flex-direction: column;
  border: 3px solid black;
  background-color: green;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flight-seat-full {
  flex-wrap: wrap;
  display: flex;
  width: 40%;
  flex-direction: column;
  border: 3px solid black;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

#user-seat-header {
  font: large;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

#selected_seat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  border-bottom:  3px solid blue;
}

#ticket-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#blocked-button {
  margin: 40px;
  font-size: 30px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: lightgrey;
}

.admin-login-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  overflow: auto;
}

#login-password-header {
  font: larger;
  text-decoration: underline;
}

#admin-login-box {
  font-size: larger;
}

#incorrect-login {
  color: red;
  font-size: 40px;
}

#return-button-user {
  margin-top: 10px;
  width: 30%;
  font-size: 150%;
  cursor: pointer;
  border: 3px solid aqua;
  background-color: white;
  appearance: none;
  color: black;
  text-align: center;
  border-radius: 10px;
}

#return-button-user:hover {
  background-color: aqua;
  border: 3px solid black;
}

.admin-flight-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  height: 700px;
}

.admin-flight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid darkblue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 80%;
}

#admin-update {
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid blue;
}

#admin-update:hover {
  background-color: lightgrey;
  border: 3px solid blue;
}

#view-available-flights-admin {
  margin-left: 60px;
  cursor: pointer;
  font-size: 20px;
  border: 5px solid darkblue;
  border-radius: 5px;
  background-color: white;
}

#view-available-flights-admin:hover {
  background-color: aqua;
  border: 5px solid black;
}

#view-flight-crew-admin {
  cursor: pointer;
  font-size: 20px;
  border: 5px solid blue;
  border-radius: 5px;
  background-color: white;
}

#view-flight-crew-admin:hover {
  background-color: aqua;
  border: 5px solid black;
}



.admin-crew-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid blue;
}

.admin-crew {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  background-color: aqua;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.delete-admin-crew {
  width: 25%;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: 3px solid red;
  background-color: lightgrey;
  font-size: medium;
}

.delete-admin-crew:hover {
  border: 3px solid black;
  background-color: red;
}

#aircraft-warning {
  font-size: 100%;
  color: red;
}

input::placeholder {
  font-size: 70%;
}

#create-account {
  font-size: large;
  border-right: 3px solid aqua;
  height: 700px;
  width: 850px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-in {
  font-size: large;
  border-left: 3px solid aqua;
  height: 700px;
  width: 850px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-in-input {
  border-radius: 5px;
  height: 5%;
  width: 30%;
  font-size: large;
  border: 5px solid aqua;
}

#sign-in-input:focus {
  outline: none;
}